html, body {
    height: 100%;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

#navbar, .navbar-inverse, .flex-header {
    border-bottom: 0;
    border-width: 0;
    background: none;
}

.navbar {
    margin: 0;
}

.video-holder {
    position: relative;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    z-index: 1;
    position: relative;
    background-color: rgba(208, 2, 27, 0.75);
}

.scroll-round {
    position: absolute;
    bottom: -60px;
    text-align: center;
    display: block;
    background: white;
}

.flex-header .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 50px;
}

.flex-header .container.contest {
    padding-top: 0;
}

.description {
    margin-top: 32px;
    padding-top: 32px;
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.flex-header .container > div {
    flex: 1 1 auto;
    align-self:center;
}

.logo-contest img {
    max-width: 100%;
    max-height: 100px;
}

.inverted {
    color: #fff;
}

.navbar-brand {
    height: 100px;
}

.description h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

h2 > i {
    margin-right: 16px;
    font-size: 125%;
}

.description h2 > i {
    color: #D0021B;
}

.description h2 {
    vertical-align: middle;
}

.description p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.75em;
}

.content-teaser {
    padding-top: 64px;
    padding-bottom: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 36px;
}

#events {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    visibility: hidden;
}

#events.visible {
    visibility: visible;
    transform: translateX(1000%);  /* make things invisible upon start */
    -webkit-animation:translate-Y ease-in-out 1;  /* call our keyframe named translate-Y, use animattion ease-in and repeat it only 1 time */
    -moz-animation:translate-Y ease-in-out 1;
    animation:translate-Y ease-in-out 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
}

@-webkit-keyframes translate-Y { from { transform:translateX(1000%) } to { transform:translateX(0%) } }
@-moz-keyframes translate-Y { from { transform:translateX(1000%) } to { transform:translateX(0%) } }
@keyframes translate-Y { from { transform:translateX(1000%) } to { transform:translateX(0%) } }

#events > .event {
    flex: 1 1 auto;
    padding-right: 32px;
    padding-left: 32px;
}

#events h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.logo-contest > span {
    display: none;
}

blockquote {
    border-color: #D0021B;
}

.bg-alternate {
	background-color: #F9F9F9;
}

.badge-wrapper {
    min-height: 180px;
}

.badge-wrapper .thumbnail {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.grey-wrapper {
    background: #f1f1f1;
}