html, body {
    height: 100%;
}

body {
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 20px;
}
h4 {
    font-size: 24px;
}

#navbar, .navbar-inverse, .flex-header {
    border-bottom: 0;
    border-width: 0;
    background: none;
}

.navbar {
    margin: 0;
}

.video-holder {
    position: relative;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    z-index: 1;
    position: relative;
    background-color: rgba(230, 230, 230, 0.90);
}

.scroll-round {
    position: absolute;
    bottom: -60px;
    text-align: center;
    display: block;
    background: white;
}

.flex-header .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 50px;
}

.flex-header .container.contest {
    padding-top: 0;
}

.description {
    margin-top: 32px;
    padding-top: 32px;
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.flex-header .container > div {
    flex: 1 1 auto;
    align-self:center;
}

.logo-contest {
    display: inline-block;
}

h4 {
    -ms-word-break: break-all;
    word-break: break-all;
}

#leaderboardTable {
    margin-top: 32px;
    font-size: 2em;
    color: black;
    width: 100%;
    padding: 32px;
}

.inverted {
    color: #b0b0b0;
}

.navbar-brand {
    height: 100px;
}

.description h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

h2 > i {
    margin-right: 16px;
    font-size: 125%;
}

.description h2 > i {
    color: #993392;
}

.description h2 {
    vertical-align: middle;
}

.description p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.75em;
}

.content-teaser {
    padding-top: 64px;
    padding-bottom: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
    font-size: 36px;
    min-height: 200px;
}

#events {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    visibility: hidden;
}

#events.visible {
    visibility: visible;
    opacity: 0;
    -webkit-animation:opacity ease-in-out 1;  /* call our keyframe named opacity, use animattion ease-in and repeat it only 1 time */
    -moz-animation:opacity ease-in-out 1;
    animation:opacity ease-in-out 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

@-webkit-keyframes opacity { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes opacity { from { opacity: 0; } to { opacity: 1; } }
@keyframes opacity { from { opacity: 0; } to { opacity: 1; } }

#events > .event {
    /*flex: 1 1 auto;*/
    padding-right: 32px;
    padding-left: 32px;
}

#events h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.logo-contest > span {
    display: none;
}

blockquote {
    border-color: #993392;
}

.bg-alternate {
	background-color: #F9F9F9;
}

.thumbnail {
    padding: 16px;
    vertical-align: middle;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    min-height: 350px;

}

.grey-wrapper {
    background: #f1f1f1;
}

.purple-wrapper {
    background: #993392;
}

.blue-wrapper {
    background-color: rgba(18, 130, 155, 0.75);
}

.btn-call-to-action {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #4d1a48;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: #993392;
    color: black;
}

.btn-call-to-action:hover {
    background: #993392;
    border-color: #4d1a48;
    border-radius: 25px;
    color: black;
}

.btn-call-to-action,
.btn-call-to-action:hover,
.btn-call-to-action:active,
.btn-action,
.btn-action:hover,
.btn-action:active {
    -webkit-transition: border-radius 0.5s ease-in-out;
    -moz-transition: border-radius 0.5s ease-in-out;
    -ms-transition: border-radius 0.5s ease-in-out;
    -o-transition: border-radius 0.5s ease-in-out;
    transition: border-radius 0.5s ease-in-out;
}

.btn-action {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: transparent;
    color: black;
}

.btn-action:hover,
.btn-action:active {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 50px;
    border-color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: transparent;
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}


.thumbnail h4 {
    font-size: 1em;
}

.badge-points {
    padding: 4px 8px;
    display: inline-block;
    color: black;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}

.badge-points--500 {
    background: darkred;
}

.badge-points-25 {
    background: #555556;
}

.badge-points-100 {
    background: #6E9EB3;
}

.badge-points-500 {
    background: #07466D;
}

.badge-points-1000 {
    background: #993392;
}


@media (max-width: 768px) {

    h4 {
        font-size: 24px;
    }
    body {
        font-size: 18px;
    }

    #leaderboardTable {
        margin-top: 32px;
        font-size: 1em;
        color: black;
        width: 100%;
        padding: 32px;
        word-break: break-all;
    }
}

footer a.inverted:hover {
    color: black;
}

footer a.inverted {
    font-weight: 100;
    text-transform: lowercase;
}

footer.footer {
    margin-top: 128px;
}

footer.footer h4 {
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.marg-lg-b {
    margin-bottom: 64px;
}

.marg-xs-b {
    margin-bottom: 16px;
}

.no-margin {
    margin-bottom: 0;
}
